<div *ngIf="searchResults?.length; else noResults">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let result of searchResults">
      <div class="card h-100">
        <img src="{{ result.owner.avatar_url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ result.html_url }}" target="_blank">{{ result.name }}</a></h5>
                        <span *ngIf="biggerString(result.description)">
              <a href="javascript:void(0);"
                 (click)="result.showFullDescription = !result.showFullDescription">{{ result.showFullDescription ? 'Read Less' : 'Read More' }}</a>
              <span *ngIf="result.showFullDescription">{{result.description}}</span>
            </span>
          <p class="card-text">
            {{ biggerString(result.description) ? (result?.description | slice:0:40) + '...' : result?.description }}
          </p>
        </div>
        <div class="card-footer">
          <button class="btn" [ngClass]="result.bookmarked ? 'btn-danger' : 'btn-primary'" (click)="bookmark(result)">
            {{ result.bookmarked ? 'Bookmarked' : 'Bookmark' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noResults>
  <p>No results found.</p>
</ng-template>
