<div class="container">
  <div class="row search-row">
    <div class="col-12 white">
      <h2>Search for GitHub Repositories</h2>
      <form class="search-form">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter search term" name="search"
                 [(ngModel)]="searchQuery" (keydown.enter)="search()"/>
          <button class="btn btn-outline-secondary" type="button" (click)="search()">Search</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row loading-row">
    <div class="col-12">
      <div class="loading-container" *ngIf="loading">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>

      <div class="results-container" *ngIf="!loading">
        <app-repos-list [searchResults]="searchResults" [loading]="loading"></app-repos-list>
      </div>

      <ng-template #noResults>
        <p>No results found.</p>
      </ng-template>
    </div>
  </div>
</div>
